In [144]:
import pandas as pd
import numpy as np

In [150]:
#load in the train and test datasets
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [151]:
passengerId = test['PassengerId']
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [176]:
full_data = [train, test]
#convert full_data to pd dataframe
full_data = pd.concat(full_data)
#add name length feature
train['Name_length'] = train['Name'].apply(len)
test['Name_length'] = test['Name'].apply(len)

#add has cabin feature
train['Has_Cabin'] = train['Cabin'].apply(lambda x:0 if type(x) == float else 1)
test['Has_Cabin'] = test['Cabin'].apply(lambda x:0 if type(x) == float else 1)
test.head(3)

#check for NaN values
full_data.isnull().any()
#family size
full_data['FamilySize'] = full_data['SibSp'] + full_data['Parch'] + 1
full_data['IsAlone'] = 0
full_data.loc[full_data['FamilySize']==1,'IsAlone']=1


#check for NaN values
full_data.isnull().any()#Embark and Fare have missing values
#fill in missing values
full_data['Embarked']=full_data['Embarked'].fillna('S')
full_data['Fare'] = full_data['Fare'].fillna(full_data['Fare'].median())
#add a new feature Categorical
train['CategoricalFare'] = pd.qcut(train['Fare'],4)
#add new feature CategoricalAge
age_avg = full_data['Age'].mean()
age_sd = full_data['Age'].std()
age_null_count = full_data['Age'].isnull().sum()
age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
index = np.isnan(full_data['Age'])
full_data.loc[index, "Age"]= age_null_random_list
full_data['Age'] = full_data.Age.astype(int)

In [178]:
train.CategoricalAge = pd.cut(train.Age, 5)

0      (16.336, 32.252]
1      (32.252, 48.168]
2      (16.336, 32.252]
3      (32.252, 48.168]
4      (32.252, 48.168]
5                   NaN
6      (48.168, 64.084]
7        (0.34, 16.336]
8      (16.336, 32.252]
9        (0.34, 16.336]
10       (0.34, 16.336]
11     (48.168, 64.084]
12     (16.336, 32.252]
13     (32.252, 48.168]
14       (0.34, 16.336]
15     (48.168, 64.084]
16       (0.34, 16.336]
17                  NaN
18     (16.336, 32.252]
19                  NaN
20     (32.252, 48.168]
21     (32.252, 48.168]
22       (0.34, 16.336]
23     (16.336, 32.252]
24       (0.34, 16.336]
25     (32.252, 48.168]
26                  NaN
27     (16.336, 32.252]
28                  NaN
29                  NaN
             ...
861    (16.336, 32.252]
862    (32.252, 48.168]
863                 NaN
864    (16.336, 32.252]
865    (32.252, 48.168]
866    (16.336, 32.252]
867    (16.336, 32.252]
868                 NaN
869      (0.34, 16.336]
870    (16.336, 32.252]
871    (32.252, 48.168]
872    (32.252, 48.168]
873    (32.252, 48.168]
874    (16.336, 32.252]
875      (0.34, 16.336]
876    (16.336, 32.252]
877    (16.336, 32.252]
878                 NaN
879    (48.168, 64.084]
880    (16.336, 32.252]
881    (32.252, 48.168]
882    (16.336, 32.252]
883    (16.336, 32.252]
884    (16.336, 32.252]
885    (32.252, 48.168]
886    (16.336, 32.252]
887    (16.336, 32.252]
888                 NaN
889    (16.336, 32.252]
890    (16.336, 32.252]
Name: Age, Length: 891, dtype: category
Categories (5, interval[float64]): [(0.34, 16.336] < (16.336, 32.252] < (32.252, 48.168] < (48.168, 64.084] < (64.084, 80.0]]

In [180]:
#mapping sex
full_data.Sex = full_data.Sex.map({'female':0, 'male':1}).astype(int)
#mapping embarked
full_data.Embarked = full_data.Embarked.map({'S':0, 'C':1, 'Q':2}).astype(int)
#mapping fare
full_data.loc[full_data.Fare <= 7.91, 'Fare'] = 0
full_data.loc[(full_data.Fare > 7.9) & (full_data.Fare <= 14.454),'Fare'] =1
full_data.loc[(full_data.Fare >14.454) & (full_data.Fare <= 31), 'Fare'] = 2
full_data.loc[(full_data.Fare > 31), 'Fare'] = 3
full_data.Fare = full_data.Fare.astype(int)

In [134]:
#mapping Age
data

0

In [41]:
type(df1)

pandas.core.frame.DataFrame

In [95]:
np.argwhere(np.isnan(full_data['Age']))

array([[   5],
       [  17],
       [  19],
       [  26],
       [  28],
       [  29],
       [  31],
       [  32],
       [  36],
       [  42],
       [  45],
       [  46],
       [  47],
       [  48],
       [  55],
       [  64],
       [  65],
       [  76],
       [  77],
       [  82],
       [  87],
       [  95],
       [ 101],
       [ 107],
       [ 109],
       [ 121],
       [ 126],
       [ 128],
       [ 140],
       [ 154],
       [ 158],
       [ 159],
       [ 166],
       [ 168],
       [ 176],
       [ 180],
       [ 181],
       [ 185],
       [ 186],
       [ 196],
       [ 198],
       [ 201],
       [ 214],
       [ 223],
       [ 229],
       [ 235],
       [ 240],
       [ 241],
       [ 250],
       [ 256],
       [ 260],
       [ 264],
       [ 270],
       [ 274],
       [ 277],
       [ 284],
       [ 295],
       [ 298],
       [ 300],
       [ 301],
       [ 303],
       [ 304],
       [ 306],
       [ 324],
       [ 330],
       [ 334],
       [ 335],
       [ 347],
       [ 351],
       [ 354],
       [ 358],
       [ 359],
       [ 364],
       [ 367],
       [ 368],
       [ 375],
       [ 384],
       [ 388],
       [ 409],
       [ 410],
       [ 411],
       [ 413],
       [ 415],
       [ 420],
       [ 425],
       [ 428],
       [ 431],
       [ 444],
       [ 451],
       [ 454],
       [ 457],
       [ 459],
       [ 464],
       [ 466],
       [ 468],
       [ 470],
       [ 475],
       [ 481],
       [ 485],
       [ 490],
       [ 495],
       [ 497],
       [ 502],
       [ 507],
       [ 511],
       [ 517],
       [ 522],
       [ 524],
       [ 527],
       [ 531],
       [ 533],
       [ 538],
       [ 547],
       [ 552],
       [ 557],
       [ 560],
       [ 563],
       [ 564],
       [ 568],
       [ 573],
       [ 578],
       [ 584],
       [ 589],
       [ 593],
       [ 596],
       [ 598],
       [ 601],
       [ 602],
       [ 611],
       [ 612],
       [ 613],
       [ 629],
       [ 633],
       [ 639],
       [ 643],
       [ 648],
       [ 650],
       [ 653],
       [ 656],
       [ 667],
       [ 669],
       [ 674],
       [ 680],
       [ 692],
       [ 697],
       [ 709],
       [ 711],
       [ 718],
       [ 727],
       [ 732],
       [ 738],
       [ 739],
       [ 740],
       [ 760],
       [ 766],
       [ 768],
       [ 773],
       [ 776],
       [ 778],
       [ 783],
       [ 790],
       [ 792],
       [ 793],
       [ 815],
       [ 825],
       [ 826],
       [ 828],
       [ 832],
       [ 837],
       [ 839],
       [ 846],
       [ 849],
       [ 859],
       [ 863],
       [ 868],
       [ 878],
       [ 888],
       [ 901],
       [ 913],
       [ 920],
       [ 924],
       [ 927],
       [ 930],
       [ 932],
       [ 938],
       [ 945],
       [ 949],
       [ 956],
       [ 967],
       [ 974],
       [ 975],
       [ 976],
       [ 979],
       [ 982],
       [ 984],
       [ 993],
       [ 998],
       [ 999],
       [1002],
       [1007],
       [1012],
       [1015],
       [1018],
       [1023],
       [1024],
       [1037],
       [1039],
       [1042],
       [1051],
       [1054],
       [1059],
       [1061],
       [1064],
       [1074],
       [1079],
       [1082],
       [1090],
       [1091],
       [1096],
       [1102],
       [1107],
       [1110],
       [1116],
       [1118],
       [1124],
       [1134],
       [1135],
       [1140],
       [1146],
       [1147],
       [1156],
       [1157],
       [1158],
       [1159],
       [1162],
       [1164],
       [1165],
       [1173],
       [1177],
       [1179],
       [1180],
       [1181],
       [1183],
       [1188],
       [1192],
       [1195],
       [1203],
       [1223],
       [1230],
       [1233],
       [1235],
       [1248],
       [1249],
       [1256],
       [1257],
       [1271],
       [1273],
       [1275],
       [1299],
       [1301],
       [1304],
       [1307],
       [1308]])